Repository springernature/frontend-playbook, pull requests merged in 2019-08, with the labels that each got.

#315 Accessible emails
  accessibility/accessibility-in-emails.md
Labels: accessibility, collaboration

#317 Add a simple performance checklist
  performance/images.md
  performance/performance-checklist.md
Labels: performance

#318 Changes front-end to frontend because no one cares
  CONTRIBUTING.md
  README.md
  performance/images.md
  security/secure-markup.md
  writing/house-style.md
  writing/social-media.md
Labels: language and conduct
