Repository springernature/frontend-playbook, pull requests merged in 2024-07, with the labels that each got.

#472 Clarify practices regarding browser polyfills and third party CDNs
  javascript/house-style.md
  practices/managing-static-assets.md
Labels: javascript, good practices

#403 Adds info re self-hosting fonts
  performance/font-loading.md
Labels: good practices

#474 Update practices and cleanup of the Performance section
  performance/README.md
  performance/advertising.md
  performance/browser-caching.md
  performance/font-loading.md
  performance/images.md
  performance/performance-checklist.md
Labels: browser support, performance, good practices
